/*
  Place styles specific to the homepage in here.
*/
.home-page {
  .main-content {
    background: $monk-pink;
  }
  #work {
    margin-top: 1px;
  }
}

ul.specializations {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.text-line {
  opacity: 0;
  position: relative;
}
.text-line-1 {
  animation: up-in-in 1s ease forwards;
  animation-delay: 1.4s;
}
.text-line-2 {
  animation: up-in-in 1s ease forwards;
  animation-delay: 1.4s;
}
.text-line-3 {
  animation: up-in-in 1s ease forwards;
  animation-delay: 1.9s;
}
.intro-container {
  position: relative;
}
.site-intro{
  position: absolute;
  top: 60%;
  left: -8px;
  width: 100%;
  height: 300px;
  z-index: 99;
  p {
    line-height: 1.3;
  }
  a {
    position: relative;
    &:before {
      content: '';
      transition: width .4s;
      width: 0%;
      height: 2px;
      background: black;
      z-index: -1;
      position: absolute;
      bottom: 4px;
      left: 0%;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  p > a {
    text-decoration: none;
  }
}

.move-right {
  animation: from-right .7s forwards;
}
.move-left {
  animation: from-left .7s forwards;
}


.case-study-link.active-hover {
  .underscore {
    @include breakpoint(md){
      padding-left: 48px;
    }
  }
  .underscore:before {
    @include breakpoint(md){
      animation: underscore .7s ease forwards;
    }
  }
}

.underscore {
  padding-left: 28px;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: black;
    left: 0;
    top: 50%;
  }
  @include breakpoint(md){
    padding-left: 0px;
    transition: padding-left .7s ease;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background: black;
      left: 0;
      top: 50%;
    }
  }
}

.fixed-underscore {
  position: relative;
  overflow: hidden;
  padding-left: 28px;
  @include breakpoint(lg){
    padding-left: 48px;
  }
  &:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: black;
    left: 0;
    top: 50%;
    @include breakpoint(lg){
      width: 30px;
    }
  }
}

.text-img-module {
  padding: 90px 0 100px;
  @include breakpoint(md){
    padding: 90px 0 240px;
  }
  h2 {
    margin-bottom: $base-spacing;
    line-height: 1;
    @include breakpoint(sm){
      font-size: 40px;
    }
    @include breakpoint(md){
      margin-bottom: $base-spacing * 1.5;
      font-size: 49px;
    }
  }
  a {
    display: block;
  }
  a {
    text-decoration: none;
  }
  a.mobile-cta {
    background: black;
    color: white;
    padding: 6px 14px;
    display: inline-block;
    @include breakpoint(md){
      display: none;
    }
  }
  .client {
    position: absolute;
    top: -60px;
    z-index: 9999;
    overflow: hidden;
    @include breakpoint(sm){
      top: -68px;
    }
    @include breakpoint(md){
      top: -88px;
    }
    @include breakpoint(xl){
      top: -128px;
    }
    h3 {
      transform: translateY(150px);
      font-size: 70px;
      @include breakpoint(sm){
        font-size: 80px;
      }
      @include breakpoint(md){
        @include font-size(xl);
      }
      @include breakpoint(xl){
        transform: translateY(180px);
        @include font-size(xxl);
      }
    }
  }
  .text-content {
    position: relative;
  }
}

.left-img .client {
  left: 13px;
  @include breakpoint(md){
    left: auto;
    right: 48px;
  }
}

.right-img .client {
  left: 13px;
  @include breakpoint(md){
    left: 48px;
  }
}
